.app {
  li {
    list-style: none;
  }
  
  font-family: $nunito;
  color: $dark;

  .pulsate {
    @include pulsate;
    cursor: pointer;
  }

  .steps {
    font-family: $neuton;
    color: $dark;
  }
}